.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
 
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
 
.App-title {
  font-size: 1.5em;
}
 
.App-intro {
  font-size: large;
}
 
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
 
video.responsive-video {
  width: 100%;
}
 
#yt-frame {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}
 
#yt-frame > iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.isValid {
  display: none;
}

.isInvalid {
  display: block;
  color: red;
}

.profile {
  margin-top: 20px;
}

.profile-details {
  padding: 7px;
  border-radius: 15px;
}

.profile-avatar {
  display: block;
  margin: 0 auto;
  max-width: 250px;
}

.myBtn {
  width:100%;
  margin-top: 10%;
}

.material-icons {
  line-height: 0.8;
}

.myDropDownButton {
  position: absolute;
  top: 100px;
  right: 200px;
}
@media (min-width:1600px){
  .myDropDownButton {
    position: absolute;
    top: 100px;
    right: 200px;
    display: inline !important;
    width: initial !important;
    background-color: #00B0FF !important;
    color: white !important;
  }
  .myDropDownList {
    top: 140px !important;
  }
}

@media (min-width:1366px) and (max-width:1600px){
  .myDropDownButton {
    position: absolute;
    top: 100px;
    right: 100px;
    display: inline !important;
    width: initial !important;
    background-color: #00B0FF !important;
    color: white !important;
  }
  .myDropDownList {
    top: 140px !important;
  }
}

@media (min-width:992px) and (max-width:1366px){
  .myDropDownButton {
    position: absolute;
    top: 100px;
    right: 50px;
    display: inline !important;
    width: initial !important;
    background-color: #00B0FF !important;
    color: white !important;
  }
  .myDropDownList {
    top: 140px !important;
  }
}

@media (max-width:992px){
  .myDropDownButton {
    position: absolute;
    top: 15px;
    right: 60px;
    display: inline !important;
    width: initial !important;
    background-color: white !important;
    color: #00B0FF !important;
  }
  .myDropDownList {
    top: 52px !important;
  }
}

@media (max-width:600px){
  .myDropDownButton {
    position: static;
    display: block !important;
    margin: 10px auto !important;
    width: 25% !important;
    background-color: #00B0FF !important;
    color: white !important;
  }
  .myDropDownList {
    top: 105px !important;
  }
}
/* .myDropDownList {
  top: 140px !important;
} */

.dropdown-content li {
  text-align: center !important;
  padding-top: 15%;
}

.editProfile {
  width: 100%;
}

.modal .modal-footer .btn {
  margin:6px !important;
}